<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express
  link(rel="stylesheet", href="css/material.min.css")
body
  section.container
    h1 Piro <i class="material-icons">add add</i>
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nam quaerat qui, commodi eos consequatur molestias delectus vero placeat, saepe repudiandae voluptatem id necessitatibus velit. Voluptatem molestiae dolor vero odit.